@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-bg: #161D3A;
  --color-t: #ffffff9a;

  --animate-appearighttoleft: appearighttoleft 0.5s;

  @keyframes appearighttoleft {
    from {
      transform: translate3d(20px, 0px, 0px);
      opacity: 0;
    }

    to {
      transform: translate3d(0px, 0px, 0px);
      opacity: 1;
    }
  }

  --animate-appealefttoright: appealefttoright 1.2s;

  @keyframes appealefttoright {
    0% {
      transform: translate3d(-20px, 0px, 0px);
      opacity: 0;
    }

    40% {
      transform: translate3d(-20px, 0px, 0px);
      opacity: 0;
    }

    100% {
      transform: translate3d(0px, 0px, 0px);
      opacity: 1;
    }
  }

  --animate-rise: rise 0.5s;

  @keyframes rise {
    from {
      transform: translate(0px, 100%);
      opacity: 0;
    }

    to {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 1200) {
  ::-webkit-media-controls {
    display: none !important;
  }
}
